ion-card {
    margin-top: 3em;
}

.authInput {
    border: 1px solid #40a798 !important;
    border-radius: 5px !important;
}

.signupBtn {
    margin-top: 20px;
}

.linkToSignIn {
    margin: 20px 0;
}