.recipeFormInput {
    border: 1px solid #40a798 !important;
    border-radius: 5px !important;
}

.recipeSelect {
    border: 1px solid #40a798 !important;
    border-radius: 5px !important;
}

.stepBtn {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
}

.subBtn {
    // width: 40px;
    height: 40px;
}